.listItem {
  display: flex;
  justify-content: space-between;
  border: solid 1px $secondary_color_1;
  border-radius: 5px;

  margin-bottom: 10px;

  padding: 10px 16px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.todoBtn {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: $primary_color_3;
  border: none;
  color: $primary_color_1;

  &:disabled {
    background-color: $secondary_color_2;
    cursor: default;
  }
}
.activeBtn {
  background-color: $primary_color_4;
}
.deleteBtn {
  background-color: $primary_color_2;
}
.cancelBtn {
  background-color: $primary_color_3;
}
.todoTitle {
  font-size: 20px;
  font-weight: 600;
  color: $primary_color_5;
  border: none;
  background-color: unset;
}

.todoLeft {
  display: flex;
  gap: 20px;
}

.todoInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.listItemChecked {
  background-color: $secondary_color_3;
}

.titleChecked {
  text-decoration: line-through;
}

.checkbox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  flex-shrink: 0;

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.checkboxMark {
  width: 22px;
  height: 22px;

  border: 2px solid $secondary_color_1;
  border-radius: 6px;

  position: relative;
}

.checkboxMark::after {
  content: "";

  position: absolute;

  left: 6px;
  top: 2px;

  width: 6px;
  height: 12px;

  border: solid $primary_color_1;
  border-width: 0 2px 2px 0;
}

.checkbox input:checked + .checkboxMark {
  background: $primary_color_4;
  border-color: $primary_color_4;
}

.checkbox input:checked + .checkboxMark::after {
  transform: rotate(45deg) scale(1);
}

.checkbox:hover .checkboxMark {
  border-color: $primary_color_4;
}

.error {
  color: $primary_color_2;
}
