.listItem {
  display: flex;
  justify-content: space-between;
  border: solid 1px $secondary_color_1;
  border-radius: 5px;

  padding: 10px 16px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.todoLeft {
  display: flex;
  gap: 20px;
}

.todoInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.listItemChecked {
  background-color: $secondary_color_3;
}

.titleChecked {
  text-decoration: line-through;
}
