:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;

  color: #1f2639;
  background-color: $white;
}

body {
  margin: 0;
  padding: 0;
}

input {
  font-family: system-ui;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: 0 none;
  appearance: none;
}

button {
  font-family: system-ui;
  font-weight: 400;
  font-size: 16px;

  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  margin-bottom: 20px;
  margin-top: 20px;
}

.layout {
  max-width: 1200px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
