$primary_color_1: #f7f8fa;
$primary_color_2: #e61716;
$primary_color_3: #2861ea;
$primary_color_4: #3ca549;
$primary_color_5: #1f2639;

$secondary_color_1: #e4e7ed;
$secondary_color_2: #eef0f4;
$secondary_color_3: #effdf1;
